* {
  font-family: 'Lato', sans-serif; }

body {
  height: 100%;
  margin: auto; }

.blue-lightgray {
  background: #423D66;
  color: #BDBDC0; }

.yellow-lightgray {
  background: #66603D;
  color: #BDBDC0; }

.lightgray-red {
  background: #BDBDC0;
  color: #8E3D4C; }

.red-lightgray {
  background: #8E3D4C;
  color: #BDBDC0; }

.darkgray-yellow {
  background: #4F4E57;
  color: #66603D; }

.button {
  align-items: center;
  box-shadow: 0.125rem 0.25rem 0.5rem 0.025rem black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  justify-content: center;
  padding: 1rem 2rem;
  text-shadow: black 0.025rem 0 0; }

.container {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  z-index: 0;
  background: #4F4E57; }

header a {
  box-shadow: 0;
  color: #BDBDC0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  justify-content: start;
  padding: 1rem 2rem;
  text-align: left;
  text-decoration: none;
  text-shadow: black 0.05rem 0 0;
  transition: color 0s 0s ease-in-out;
  transition: text-shadow 0.15s 0.15s ease-in-out;
  width: max-content; }
  header a:hover {
    color: whitesmoke;
    cursor: pointer;
    text-shadow: black 0.3rem 0.3rem 0.15rem;
    transition: color 0.25s 0.15s ease-in-out;
    transition: text-shadow 0.25s 0.15s ease-in-out; }

main {
  background: whitesmoke;
  padding: 1rem 2rem; }
  main h1 {
    color: #8E3D4C;
    font-size: 2rem;
    font-weight: 700; }
    main h1.header--blue {
      color: #423D66; }
  main div.content, main ul {
    border: 0.125rem solid #4F4E57;
    box-shadow: 0.125rem 0.25rem 0.125rem 0rem #8E3D4C;
    color: #423D66;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 2rem 1rem; }
    main div.content.card--blue, main ul.card--blue {
      box-shadow: 0.125rem 0.25rem 0.125rem 0rem #423D66; }
    main div.content li, main ul li {
      display: block;
      line-height: 1.5rem;
      margin-bottom: 1rem; }

nav, section {
  height: auto;
  padding: 1rem;
  width: 100%; }

.blue-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #423D66; }

.red-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FC0F34; }

.yellow-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FFD90F; }

nav ul {
  display: flex;
  justify-content: start;
  margin: 1rem 0;
  padding-left: 2rem; }
  nav ul li {
    list-style-type: none;
    margin: 0 0.75%; }
    nav ul li:hover {
      box-shadow: 0.125rem 0.25rem 0.5rem 0.25rem #BDBDC0; }
      nav ul li:hover a {
        color: whitesmoke; }
    nav ul li a {
      text-decoration: none;
      color: #BDBDC0; }

@media (max-width: 768px) {
  .container {
    align-items: start;
    background: #4F4E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0; }

  header a {
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: start;
    margin: auto;
    text-align: left;
    text-shadow: black 0.15rem -0.3rem 0.15rem;
    transition: color 1.5s 0 linear; }

  .primary-nav {
    box-shadow: 0.25rem 0.5rem 3rem 0.5rem #8f3d4c;
    height: auto;
    padding: 1rem 1rem 2rem;
    width: 100%; }

  nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    transition: margin 0.5s 0.25s linear;
    width: 100%; }
    nav ul li {
      list-style-type: none; } }

/*# sourceMappingURL=output.css.map */
