html {
  height: 100%; }

* {
  font-family: 'Lato', sans-serif; }

body {
  background: whitesmoke;
  height: 100%;
  margin: 0; }

.button {
  align-items: center;
  box-shadow: 0.125rem 0.25rem 0.5rem 0.025rem black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  justify-content: center;
  text-shadow: black 0.025rem 0 0; }
  .button a {
    padding: 1rem 2rem; }

.container {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  z-index: 0;
  background: #4F4E57; }

form {
  font-size: 1.5rem; }
  form button {
    background: white;
    border: 1px solid #3D6654;
    box-shadow: 0.125rem 0.25rem 0.125rem 0rem #3D6654;
    color: #3D6654;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 0.5rem 2rem; }
  form input, form textarea {
    box-sizing: border-box;
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
    width: 50%; }
  form label {
    display: block; }

header a {
  box-shadow: 0;
  color: #BDBDC0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  justify-content: start;
  padding: 1rem 2rem;
  text-align: left;
  text-decoration: none;
  text-shadow: black 0.05rem 0 0;
  transition: color 0s 0s ease-in-out;
  transition: text-shadow 0.15s 0.15s ease-in-out;
  width: max-content; }
  header a:hover {
    color: whitesmoke;
    cursor: pointer;
    text-shadow: black 0.3rem 0.3rem 0.15rem;
    transition: color 0.25s 0.15s ease-in-out;
    transition: text-shadow 0.25s 0.15s ease-in-out; }

main {
  padding: 1rem 2rem 2rem; }
  main h1 {
    color: #8E3D4C;
    font-size: 2rem;
    font-weight: 700; }
    main h1.header--blue {
      color: #423D66; }
    main h1.header--green {
      color: #3D6654; }
  main div.content, main ul {
    border: 0.125rem solid #4F4E57;
    color: #423D66;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 2rem 1rem; }
    main div.content.card--blue, main ul.card--blue {
      box-shadow: 0.125rem 0.25rem 0.125rem 0rem #423D66; }
    main div.content.card--green, main ul.card--green {
      box-shadow: 0.125rem 0.25rem 0.125rem 0rem #3D6654; }
    main div.content li, main ul li {
      display: flex;
      line-height: 2rem;
      margin-bottom: 2rem;
      word-break: break-word; }
      main div.content li:last-of-type, main ul li:last-of-type {
        margin-bottom: 0; }

nav, section {
  height: auto;
  padding: 1rem;
  width: 100%; }

.blue-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #423D66; }

.green-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #3D6654; }

.red-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FC0F34; }

.yellow-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FFD90F; }

nav ul {
  display: flex;
  justify-content: start;
  margin: 1rem 0;
  padding-left: 2rem; }
  nav ul li {
    list-style-type: none;
    margin: 0 0.75%; }
    nav ul li:hover {
      box-shadow: 0.125rem 0.25rem 0.5rem 0.25rem #BDBDC0; }
      nav ul li:hover a {
        color: whitesmoke; }
    nav ul li a {
      text-decoration: none;
      color: #BDBDC0; }

svg {
  margin-right: 1rem;
  min-width: 36px; }

@media (max-width: 768px) {
  body {
    padding-bottom: 2rem; }

  .container {
    align-items: start;
    background: #4F4E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0; }

  form input, form textarea {
    width: 100%; }

  header a {
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: start;
    margin: auto;
    text-align: left;
    text-shadow: black 0.15rem -0.3rem 0.15rem;
    transition: color 1.5s 0 linear; }

  .primary-nav {
    height: auto;
    padding: 1rem 1rem 2rem;
    width: 100%; }

  nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    transition: margin 0.5s 0.25s linear;
    width: 100%; }
    nav ul li {
      list-style-type: none; }

  span {
    display: block; }

  main ul li {
    display: block; } }

/*# sourceMappingURL=output.css.map */
