// COLORS:
// #4F4E57,#FFD90F,#FC0F34,#BDBDC0,#2A11F7
* {
  font-family: 'Lato', sans-serif;
}

body {
  height: 100%;
  margin: auto;
}

// INSIDE-OUT COLOR CLASSES
.blue-lightgray {
  background: #2A11F7;
  color: #BDBDC0;
}

.yellow-blue {
  background: #FFD90F;
  color: #2A11F7;
}

.lightgray-red {
  background: #BDBDC0;
  color: #FC0F34;
}

.red-lightgray {
  background: #FC0F34;
  color: #BDBDC0;
}

.darkgray-yellow {
  background: #4F4E57;
  color: #FFD90F;
}

// SELECTORS
.container {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  z-index: 0;
  background: #4F4E57;
}

header span {
  box-shadow: 0;
  color: #BDBDC0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  justify-content: start;
  padding: 1rem 2rem;
  text-align: left;
  text-shadow: black 0.05rem 0 0;
  transition: color 0s 0s ease-in-out;
  transition: text-shadow 0.15s 0.15s ease-in-out;
  width: max-content;
  
  &:hover {
    color: #FFD90F;
    cursor: pointer;
    text-shadow: black 0.3rem 0.3rem 0.15rem;
    transition: color 0.25s 0.15s ease-in-out;
    transition: text-shadow 0.25s 0.15s ease-in-out;
  }
}

.button {
  align-items: center;
  box-shadow: 0.125rem 0.25rem 0.5rem 0.025rem black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  padding: 1rem 2rem;
  text-shadow: black 0.025rem 0 0;
}

nav, section {
    height: auto;
    padding: 1rem;
    width: 100%;
}

.blue-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #2A11F7;
}

.red-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FC0F34;
}

.yellow-section {
  box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FFD90F;
}

ul {
  display: flex;
  justify-content: start;
  margin: 1rem 0;
  padding-left: 2rem;

  li {
    list-style-type: none;
    margin: 0 0.75%;

    &:hover {
      cursor: pointer;
      box-shadow: 0.125rem 0.25rem 0.5rem 0.25rem #2A11F7;
    }
  }
}

@media(max-width:600px) {
  .container {
    align-items: start;
    background: #4F4E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
  }

  header span {
    color: #FFD90F;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: start;
    margin: auto;
    text-align: left;
    text-shadow: black 0.15rem -0.3rem 0.15rem;
    transition: color 1.5s 0 linear;
    transition: text-shadow 0.5s 0.25s linear;
  }

  .primary-nav {
    box-shadow: 0.25rem 0.5rem 3rem 0.5rem #FC0F34;
    height: auto;
    padding: 1rem 1rem 2rem;
    width: 100%;
  }

  ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    transition: margin 0.5s 0.25s linear;
    width: 100%;
    
    li {
      list-style-type: none;
    }
  }
}